[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/diamond-1-hardhat"]
	path = lib/diamond-1-hardhat
	url = https://github.com/mudgen/diamond-1-hardhat
